<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://localhost:3000/catalog">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/books">Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/authors">Author</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/genres">Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/bookinstances">Book-instances</a>
    </li>
    
  </ul>