<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://localhost:3000/catalog">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/book/create">New book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/author/create">New author</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/genre/create">New genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/catalog/bookinstance/create">New book-instances</a>
    </li>
    
  </ul>