<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <p>Welcome to <%=title %>, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>

    <%=book_count %>
    <%=book_instance_count  %>
</body>
</html>