<%- include("../partials/head")  %><%- include("../partials/nav") %>
    <h1>
      <%= title %>
    </h1>
    <!-- action empty string sends data to same page -->
    <form action="" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Book:</label>
        <input
          type="type"
          class="form-control"
          placeholder="Fantasy, Poetry etc."
          name="name"
          
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include("../partials/foot") %>
